<div id="<%= dom_id character %>" class="character" data-controller="character">
  
  <%= render CoreStatsComponent.new(character: character)%>
  
  <%# <div class="delete-wrap hidden"> %>
    <%#= button_to @character, method: :delete, class: "delete-button" do %>
      <%#= inline_svg_tag "trash-can-icon.svg", class: 'trash-can-icon' %>
    <%# end %>
  <%# </div> %>
</div>
