<%= form_for @character, method: :patch do |form| %>
  <div class="check-input-wrap">
    <%= form.text_field :name, class: "", data: { action: 'change->character#submit' } %>
    <%#= form.text_field :name, class: "", data: { action: 'change->character#submit' } %>
    <%#= form.text_field :name, class: "", data: { action: 'change->character#submit' } %>
    <%#= form.text_field :name, class: "", data: { action: 'change->character#submit' } %>
    <%#= form.text_field :name, class: "", data: { action: 'change->character#submit' } %>
    <%#= form.submit :submit, class: "hidden" %>
  </div>
<% end %>
