<%= form_with(model: character, class: "character-form") do |form| %>
  <% if character.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="add-character"> %>
    <%#= form.label :name, "New Character", style: "display: block" %>
    <%# <div class="name-button-wrap"> %>
      <%#= form.text_field :name, class: "name-input" %>
      <%#= form.submit "Add Character", class: "button-input" %>
    <%# </div> %>
  <%# </div> %>
<% end %>
