<div class="flex flex-col w-full">
  <%= render CharacterSheetComponent.new(characters: @characters) do |stat_list| %>
    <% stat_list.name do %>
      <h1><%= @character.name %></h1>
    <% end %>
  <% end %>

  <%= render "form", character: Character.new %>
</div>